[Desktop Entry]
Exec=ll-cli run org.deepin.rufus --exec rufus
GenericName=rufus
Hidden=false
Name=Rufus
StartupNotify=false
Type=Application
X-Deepin-Vendor=user-custom
X-linglong=org.deepin.rufus
